<ion-footer>
  <ion-toolbar color="favorite">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list lines="inset">
            <ion-list-header color="secondary">
              <ion-label>QuizPad</ion-label>
            </ion-list-header>
            <ion-item  color="none">
              <ion-icon name="compass" color="primary" slot="start"></ion-icon>
              <ion-label>About</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="receipt" color="primary" slot="start"></ion-icon>
              <ion-label>Terms of use</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="shield-checkmark" color="primary" slot="start"></ion-icon>
              <ion-label>Privacy policy</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-list lines="inset">
            <ion-list-header color="secondary">
              <ion-label>Support</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-icon name="help-buoy" color="primary" slot="start"></ion-icon>
              <ion-label>Help</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-facebook" color="primary" slot="start"></ion-icon>
              <ion-label>Facebook</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="logo-instagram" color="primary" slot="start"></ion-icon>
              <ion-label>Instagram</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-list lines="inset">
            <ion-list-header color="secondary">
              <ion-label>Use cases</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-icon name="school" color="primary" slot="start"></ion-icon>
              <ion-label>Education</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="business" color="primary" slot="start"></ion-icon>
              <ion-label>Business</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="sunny" color="primary" slot="start"></ion-icon>
              <ion-label>Gatherings</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          2020 QuizPad fefc
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
