<ion-footer>
  <ion-toolbar color="favorite">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list lines="none">
            <ion-list-header color="favorite">
              <ion-label>QuizPad</ion-label>
            </ion-list-header>
            <ion-item color="favorite" routerLink="/about" routerDirection="root">
              <ion-icon name="compass" slot="start"></ion-icon>
              <ion-label>{{ 'FOOTER.ABOUT' | translate }}</ion-label>
            </ion-item>
            <ion-item color="favorite" routerLink="/privacy" routerDirection="root">
              <ion-icon name="shield-checkmark" slot="start"></ion-icon>
              <ion-label>{{ 'FOOTER.PRIVACY' | translate }}</ion-label>
            </ion-item>
            <!--<ion-item color="favorite" routerLink="/terms" routerDirection="root">
              <ion-icon name="receipt" slot="start"></ion-icon>
              <ion-label>{{ 'FOOTER.TERMS' | translate }}</ion-label>
            </ion-item>-->
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-list lines="none">
            <ion-list-header color="favorite">
              <ion-label>Support</ion-label>
            </ion-list-header>
            <!--<ion-item color="favorite" routerLink="/help" routerDirection="root">
              <ion-icon name="help-buoy" slot="start"></ion-icon>
              <ion-label>{{ 'FOOTER.HELP' | translate }}</ion-label>
            </ion-item>-->
            <ion-item color="favorite" href="https://www.facebook.com/QuizPad-101035955264319">
              <ion-icon name="logo-facebook" slot="start"></ion-icon>
              <ion-label>{{ 'FOOTER.FACEBOOK' | translate }}</ion-label>
            </ion-item>
            <ion-item color="favorite" href="https://www.instagram.com/quizpad">
              <ion-icon name="logo-instagram" slot="start"></ion-icon>
              <ion-label>{{ 'FOOTER.INSTAGRAM' | translate }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p style="text-align: right">
          {{ 'FOOTER.SIGNATURE_LEFT' | translate }}<ion-icon name="heart" color="primary"></ion-icon>{{ 'FOOTER.SIGNATURE_RIGHT' | translate }}
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
