<ion-footer>
  <ion-toolbar color="favorite">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list lines="none">
            <ion-list-header color="favorite">
              <ion-label>QuizPad</ion-label>
            </ion-list-header>
            <ion-item color="favorite">
              <ion-icon name="compass" slot="start"></ion-icon>
              <ion-label>About</ion-label>
            </ion-item>
            <ion-item color="favorite">
              <ion-icon name="receipt" slot="start"></ion-icon>
              <ion-label>Terms of use</ion-label>
            </ion-item>
            <ion-item color="favorite">
              <ion-icon name="shield-checkmark" slot="start"></ion-icon>
              <ion-label>Privacy policy</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-list lines="none">
            <ion-list-header color="favorite">
              <ion-label>Support</ion-label>
            </ion-list-header>
            <ion-item color="favorite">
              <ion-icon name="help-buoy" slot="start"></ion-icon>
              <ion-label>Contact</ion-label>
            </ion-item>
            <ion-item color="favorite" href="https://www.facebook.com/QuizPad-101035955264319">
              <ion-icon name="logo-facebook" slot="start"></ion-icon>
              <ion-label>Facebook</ion-label>
            </ion-item>
            <ion-item color="favorite" href="https://www.instagram.com/quizpad">
              <ion-icon name="logo-instagram" slot="start"></ion-icon>
              <ion-label>Instagram</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p style="text-align: right">
          Coded with <ion-icon name="heart" color="primary"></ion-icon> by fefc.
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
