ion-footer {
  margin-top: 5em;
}

ion-toolbar {
}

ion-grid {
  max-width: none;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 5em;

  //background-color: gray;

  ion-col {
    padding: 0;
  }
}

ion-list {
  background: transparent;

  ion-item {
    background: transparent;
  }
}
