<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-item>
            <ion-icon name="videocam" slot="start"></ion-icon>
            <ion-label>Introduction</ion-label>
          </ion-item>
          <ion-card-content>
            Integrate medias to your questions and enhance game experience.
            You can add a video or an image as an introduction to your question.
            You can also choose use images as answers to you question!
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-item>
            <ion-icon name="rose" slot="start"></ion-icon>
            <ion-label>Multiple forms</ion-label>
          </ion-item>
          <ion-card-content>
            QuizPad is available for Android on Google Play.
            <div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-item>
            <ion-icon name="planet" slot="start"></ion-icon>
            <ion-label>Sync devices</ion-label>
          </ion-item>
          <ion-card-content>
            Integrate medias to your questions and enhance game experience.
            You can add a video or an image as an introduction to your question.
            You can also choose use images as answers to you question!
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-item>
            <ion-icon name="color-palette" slot="start"></ion-icon>
            <ion-label>Customize</ion-label>
          </ion-item>
          <ion-card-content>
            Background
            texts
            <div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="assets/imgs/playstore.png" />
          <ion-item>
            <ion-icon name="people" slot="start"></ion-icon>
            <ion-label>16 Players</ion-label>
          </ion-item>
          <ion-card-content>
            QuizPad is available for Android on Google Play.
            <div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-item>
            <ion-icon name="qr-code" slot="start"></ion-icon>
            <ion-label>QR Code</ion-label>
          </ion-item>
          <ion-card-content>
            QuizPad is available for Android on Google Play.
            <div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
