<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="assets/imgs/qr-code.png"/>
          <ion-item>
            <ion-icon name="qr-code" slot="start"></ion-icon>
            <ion-label>QR Code</ion-label>
          </ion-item>
          <ion-card-content>
            Nothing is more easy than participating to a quiz! Just scan the QrCode on the screen with any smartphone and you are good to go!
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="assets/imgs/multiplayer.png"/>
          <ion-item>
            <ion-icon name="people" slot="start"></ion-icon>
            <ion-label>Social</ion-label>
          </ion-item>
          <ion-card-content>
            Play with muptiple people, they just need a smartphone to participate! From 2 to 16 players, it's up to you!
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="assets/imgs/introduction.png"/>
          <ion-item>
            <ion-icon name="videocam" slot="start"></ion-icon>
            <ion-label>Introduction</ion-label>
          </ion-item>
          <ion-card-content>
            Inegrate a video or an image as an introduction to your question. This makes your quiz even more entertaining for everyone.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="assets/imgs/multiple-forms.png"/>
          <ion-item>
            <ion-icon name="rose" slot="start"></ion-icon>
            <ion-label>Multiple forms</ion-label>
          </ion-item>
          <ion-card-content>
            From text answers to pictures, choose how you want to display your content! Adapt the question to your content.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-item>
            <ion-icon name="planet" slot="start"></ion-icon>
            <ion-label>Sync devices</ion-label>
          </ion-item>
          <ion-card-content>
            Integrate medias to your questions and enhance game experience.
            You can add a video or an image as an introduction to your question.
            You can also choose use images as answers to you question!
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-item>
            <ion-icon name="color-palette" slot="start"></ion-icon>
            <ion-label>Customize</ion-label>
          </ion-item>
          <ion-card-content>
            Background
            texts
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
