<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title routerLink="/home" routerDirection="root">
        <ion-icon src="assets/svgs/icon.svg"></ion-icon>
        QuizPad
      </ion-title>
      <ion-buttons collapse="true" slot="end">
        <ion-button href="https://web.quizpadapp.com/">{{ 'HEADER.WEB' | translate }}</ion-button>
        <ion-button routerLink="/features" routerDirection="root">{{ 'HEADER.FEATURES' | translate }}</ion-button>
        <ion-button routerLink="/download" routerDirection="root">{{ 'HEADER.DOWNLOAD' | translate }}</ion-button>
        <!--<ion-button routerLink="/help" routerDirection="root">HELP</ion-button>
        <ion-select value="FR" selectedText="Langues" interface="popover">
          <ion-select-option value="FR">Francais</ion-select-option>
          <ion-select-option value="DE">Deutsch</ion-select-option>
          <ion-select-option value="EN">English</ion-select-option>
        </ion-select>-->
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


<ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
