<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title routerLink="/home" routerDirection="root" class="ion-hide-lg-down">
        <ion-icon src="assets/svgs/icon.svg"></ion-icon>
        QuizPad
      </ion-title>
      <ion-title routerLink="/home" routerDirection="root" class="ion-hide-lg-up">
        <ion-icon src="assets/svgs/icon.svg"></ion-icon>
        TITLE
      </ion-title>
      <ion-buttons slot="end" class="ion-hide-lg-down">
        <ion-button href="https://web.quizpadapp.com/" target="_blank">{{ 'HEADER.WEB' | translate }}</ion-button>
        <ion-button routerLink="/features" routerDirection="root">{{ 'HEADER.FEATURES' | translate }}</ion-button>
        <ion-button routerLink="/download" routerDirection="root">{{ 'HEADER.DOWNLOAD' | translate }}</ion-button>
        <!--<ion-button routerLink="/help" routerDirection="root">HELP</ion-button>-->
        <ion-select interface="popover" [(ngModel)]="selectedLanguage" (ngModelChange)="changeLanguage()">
          <ion-select-option value="fr">Francais</ion-select-option>
          <ion-select-option value="de">Deutsch</ion-select-option>
          <ion-select-option value="en">English</ion-select-option>
        </ion-select>
      </ion-buttons>
      <ion-buttons slot="end" class="ion-hide-lg-up">
        <ion-button (click)="openMenu()">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-menu menuId="first" contentId="main-content" type="overlay" swipeGesture="false" side="end" class="ion-hide-lg-up">
    <ion-header class="ion-no-border">
      <ion-toolbar color="primary">
        <ion-title routerLink="/home" routerDirection="root">
          <ion-icon src="assets/svgs/icon.svg"></ion-icon>
        </ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeMenu()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content color="primary">
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item color="transparent" href="https://web.quizpadapp.com/" target="_blank">
            <ion-icon slot="start" name="desktop"></ion-icon>
            <ion-label>{{ 'HEADER.WEB' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item color="transparent" routerLink="/features" routerDirection="root">
            <ion-icon slot="start" name="shapes"></ion-icon>
            <ion-label>{{ 'HEADER.FEATURES' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item color="transparent" routerLink="/download" routerDirection="root">
            <ion-icon slot="start" name="download"></ion-icon>
            <ion-label>{{ 'HEADER.DOWNLOAD' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="true">
          <ion-item color="transparent">
            <ion-icon slot="start" name="language"></ion-icon>
            <ion-label>{{ 'HEADER.LANGUAGE' | translate }}</ion-label>
            <ion-select interface="interface"
            [(ngModel)]="selectedLanguage"
            (ngModelChange)="changeLanguage()"
            okText="{{ 'HEADER.OK' | translate }}"
            cancelText="{{ 'HEADER.CANCEL' | translate }}"
            [selectedText]="selectedLanguage.toUpperCase()">
              <ion-select-option value="fr">Francais</ion-select-option>
              <ion-select-option value="de">Deutsch</ion-select-option>
              <ion-select-option value="en">English</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
<ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
