<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" class="text-col">
        <h2>{{ 'HOME.MAIN_TITLE' | translate }}</h2>
        <p>{{ 'HOME.MAIN_DESC' | translate }}</p>
        <ion-list lines="none">
          <ion-item href="https://play.google.com/store/apps/details?id=eu.fefc.quizpad">
            <ion-icon name="logo-android" color="primary" slot="start"></ion-icon>
            <ion-label>{{ 'HOME.MAIN_ANDROID_TITLE' | translate }}</ion-label>
          </ion-item>
          <ion-item routerLink="/download" routerDirection="root">
            <ion-icon name="logo-apple" color="primary" slot="start"></ion-icon>
            <ion-label>{{ 'HOME.MAIN_IOS_TITLE' | translate }}</ion-label>
          </ion-item>
          <ion-item href="https://web.quizpadapp.com/">
            <ion-icon name="desktop" color="primary" slot="start"></ion-icon>
            <ion-label>{{ 'HOME.MAIN_DESKTOP_TITLE' | translate }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6">
        <ion-slides [options]="sliderOpts" >
          <ion-slide>
            <img src="assets/imgs/home/start.png"/>
          </ion-slide>
          <ion-slide>
            <img src="assets/imgs/home/quiz.png"/>
          </ion-slide>
          <ion-slide>
            <img src="assets/imgs/home/question.png"/>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <!--<ion-row>
      <ion-col>
        <h2>Use cases</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="assets/imgs/3.png"/>

          <ion-card-header>
            <ion-card-title>Business</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Blabla
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="assets/imgs/3.png"/>

          <ion-card-header>
            <ion-card-title>Gatherings</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Blabla
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="assets/imgs/3.png"/>

          <ion-card-header>
            <ion-card-title>Friends</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Blabla
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>-->
    <ion-row>
      <ion-col>
        <h2 class="center-text">{{ 'HOME.STEPS_TITLE' | translate }}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row class="ion-hide-lg-down">
                <ion-col size="6">
                  <ion-slides [options]="sliderOpts" >
                    <ion-slide>
                      <img src="assets/imgs/home/new-question.png"/>
                    </ion-slide>
                    <ion-slide>
                      <img src="assets/imgs/home/gallery.png"/>
                    </ion-slide>
                    <ion-slide>
                      <img src="assets/imgs/home/question-picture.png"/>
                    </ion-slide>
                  </ion-slides>
                </ion-col>
                <ion-col size="6" class="text-col-right">
                  <ion-card-header>
                    <ion-card-subtitle color="primary">{{ 'HOME.STEP_ONE_SUBTITLE' | translate }}</ion-card-subtitle>
                    <ion-card-title>{{ 'HOME.STEP_ONE_TITLE' | translate }}</ion-card-title>
                  </ion-card-header>
                  <ion-list lines="none">
                    <ion-item>
                      <ion-icon name="pencil" color="primary" slot="start"></ion-icon>
                      <ion-label>{{ 'HOME.STEP_ONE_DESC_ONE' | translate }}</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-icon name="images" color="primary" slot="start"></ion-icon>
                      <ion-label>{{ 'HOME.STEP_ONE_DESC_TWO' | translate }}</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-icon name="git-compare" color="primary" slot="start"></ion-icon>
                      <ion-label>{{ 'HOME.STEP_ONE_DESC_THREE' | translate }}</ion-label>
                    </ion-item>
                  </ion-list>
                </ion-col>
              </ion-row>
              <ion-row class="ion-hide-lg-up">
                <ion-col size="12">
                  <ion-card-header>
                    <ion-card-subtitle color="primary">{{ 'HOME.STEP_ONE_SUBTITLE' | translate }}</ion-card-subtitle>
                    <ion-card-title>{{ 'HOME.STEP_ONE_TITLE' | translate }}</ion-card-title>
                  </ion-card-header>
                  <ion-list lines="none">
                    <ion-item>
                      <ion-icon name="pencil" color="primary" slot="start"></ion-icon>
                      <ion-label>{{ 'HOME.STEP_ONE_DESC_ONE' | translate }}</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-icon name="images" color="primary" slot="start"></ion-icon>
                      <ion-label>{{ 'HOME.STEP_ONE_DESC_TWO' | translate }}</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-icon name="git-compare" color="primary" slot="start"></ion-icon>
                      <ion-label>{{ 'HOME.STEP_ONE_DESC_THREE' | translate }}</ion-label>
                    </ion-item>
                  </ion-list>
                  <ion-slides [options]="sliderOpts">
                    <ion-slide>
                      <img src="assets/imgs/home/new-question.png"/>
                    </ion-slide>
                    <ion-slide>
                      <img src="assets/imgs/home/gallery.png"/>
                    </ion-slide>
                    <ion-slide>
                      <img src="assets/imgs/home/question-picture.png"/>
                    </ion-slide>
                  </ion-slides>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="6" class="text-col-left">
                  <ion-card-header>
                    <ion-card-subtitle color="primary">{{ 'HOME.STEP_TWO_SUBTITLE' | translate }}</ion-card-subtitle>
                    <ion-card-title>{{ 'HOME.STEP_TWO_TITLE' | translate }}</ion-card-title>
                  </ion-card-header>

                  <ion-list lines="none">
                    <ion-item >
                      <ion-icon name="qr-code" color="primary" slot="start"></ion-icon>
                      <ion-label>{{ 'HOME.STEP_TWO_DESC_ONE' | translate }}</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-icon name="language" color="primary" slot="start"></ion-icon>
                      <ion-label>{{ 'HOME.STEP_TWO_DESC_TWO' | translate }}</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-icon name="person-circle" color="primary" slot="start"></ion-icon>
                      <ion-label>{{ 'HOME.STEP_TWO_DESC_THREE' | translate }}</ion-label>
                    </ion-item>
                  </ion-list>
                </ion-col>
                <ion-col size="6">
                  <ion-slides [options]="sliderOpts" >
                    <ion-slide>
                      <img src="assets/imgs/home/profile.png"/>
                    </ion-slide>
                    <ion-slide>
                      <img src="assets/imgs/home/scan.png"/>
                    </ion-slide>
                    <ion-slide>
                      <img src="assets/imgs/home/controller.png"/>
                    </ion-slide>
                  </ion-slides>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header class="center-header">
            <ion-card-subtitle color="primary">{{ 'HOME.STEP_THREE_SUBTITLE' | translate }}</ion-card-subtitle>
            <ion-card-title>{{ 'HOME.STEP_THREE_TITLE' | translate }}</ion-card-title>
          </ion-card-header>
          <div class="img-container">
            <img src="assets/imgs/home/start-quiz.png"/>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="button-col">
        <ion-button fill="outline" routerLink="/features" routerDirection="root">{{ 'HOME.MAIN_DISCOVER_FEATURES' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
