<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="7" size-sm="12" class="text-col">
        <h2>{{ 'HOME.MAIN_TITLE' | translate }}</h2>
        <p>{{ 'HOME.MAIN_DESC' | translate }}</p>
        <ion-list lines="none" class="ion-hide-md-down">
          <ion-item href="https://play.google.com/store/apps/details?id=eu.fefc.quizpad" target="_blank">
            <ion-icon name="logo-android" slot="start"></ion-icon>
            <ion-label>{{ 'HOME.MAIN_ANDROID_TITLE' | translate }}</ion-label>
          </ion-item>
          <ion-item routerLink="/download" routerDirection="root">
            <ion-icon name="logo-apple" slot="start"></ion-icon>
            <ion-label>{{ 'HOME.MAIN_IOS_TITLE' | translate }}</ion-label>
          </ion-item>
          <ion-item href="https://web.quizpadapp.com/" target="_blank">
            <ion-icon name="desktop" slot="start"></ion-icon>
            <ion-label>{{ 'HOME.MAIN_DESKTOP_TITLE' | translate }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size-md="5" class="ion-hide-sm-down">
        <ion-slides [options]="sliderOpts" >
          <ion-slide>
            <img src="assets/imgs/home/start.png"/>
          </ion-slide>
          <ion-slide>
            <img src="assets/imgs/home/quiz.png"/>
          </ion-slide>
          <ion-slide>
            <img src="assets/imgs/home/question.png"/>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2 class="center-text">{{ 'HOME.STEPS_TITLE' | translate }}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row class="ion-hide-lg-down">
                <ion-col size="5">
                  <ion-slides [options]="sliderOpts" >
                    <ion-slide>
                      <img src="assets/imgs/home/new-question.png"/>
                    </ion-slide>
                    <ion-slide>
                      <img src="assets/imgs/home/gallery.png"/>
                    </ion-slide>
                    <ion-slide>
                      <img src="assets/imgs/home/question-picture.png"/>
                    </ion-slide>
                  </ion-slides>
                </ion-col>
                <ion-col size="7" class="text-col-right">
                  <ion-card-header>
                    <ion-card-subtitle color="primary">{{ 'HOME.STEP_ONE_SUBTITLE' | translate }}</ion-card-subtitle>
                    <ion-card-title>{{ 'HOME.STEP_ONE_TITLE' | translate }}</ion-card-title>
                  </ion-card-header>
                  <ion-list lines="none">
                    <ion-item>
                      <ion-icon name="pencil" slot="start"></ion-icon>
                      <ion-label>{{ 'HOME.STEP_ONE_DESC_ONE' | translate }}</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-icon name="images" slot="start"></ion-icon>
                      <ion-label>{{ 'HOME.STEP_ONE_DESC_TWO' | translate }}</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-icon name="git-compare" slot="start"></ion-icon>
                      <ion-label>{{ 'HOME.STEP_ONE_DESC_THREE' | translate }}</ion-label>
                    </ion-item>
                  </ion-list>
                </ion-col>
              </ion-row>
              <ion-row class="ion-hide-lg-up">
                <ion-col size="12">
                  <ion-card-header  class="center-header">
                    <ion-card-subtitle color="primary">{{ 'HOME.STEP_ONE_SUBTITLE' | translate }}</ion-card-subtitle>
                    <ion-card-title>{{ 'HOME.STEP_ONE_TITLE' | translate }}</ion-card-title>
                  </ion-card-header>
                  <ion-slides [options]="sliderOpts">
                    <ion-slide>
                      <img src="assets/imgs/home/new-question.png"/>
                    </ion-slide>
                    <ion-slide>
                      <img src="assets/imgs/home/gallery.png"/>
                    </ion-slide>
                    <ion-slide>
                      <img src="assets/imgs/home/question-picture.png"/>
                    </ion-slide>
                  </ion-slides>
                  <ion-list lines="none">
                    <ion-item>
                      <ion-icon name="pencil" slot="start" class="ion-hide-sm-down"></ion-icon>
                      <ion-label>{{ 'HOME.STEP_ONE_DESC_ONE' | translate }}</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-icon name="images" slot="start" class="ion-hide-sm-down"></ion-icon>
                      <ion-label>{{ 'HOME.STEP_ONE_DESC_TWO' | translate }}</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-icon name="git-compare" slot="start" class="ion-hide-sm-down"></ion-icon>
                      <ion-label>{{ 'HOME.STEP_ONE_DESC_THREE' | translate }}</ion-label>
                    </ion-item>
                  </ion-list>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row class="ion-hide-lg-down">
                <ion-col size="7" class="text-col-right">
                  <ion-card-header>
                    <ion-card-subtitle color="primary">{{ 'HOME.STEP_TWO_SUBTITLE' | translate }}</ion-card-subtitle>
                    <ion-card-title>{{ 'HOME.STEP_TWO_TITLE' | translate }}</ion-card-title>
                  </ion-card-header>
                  <ion-list lines="none">
                    <ion-item>
                      <ion-icon name="qr-code" slot="start"></ion-icon>
                      <ion-label>{{ 'HOME.STEP_TWO_DESC_ONE' | translate }}</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-icon name="language" slot="start"></ion-icon>
                      <ion-label>{{ 'HOME.STEP_TWO_DESC_TWO' | translate }}</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-icon name="person-circle" slot="start"></ion-icon>
                      <ion-label>{{ 'HOME.STEP_TWO_DESC_THREE' | translate }}</ion-label>
                    </ion-item>
                  </ion-list>
                </ion-col>
                <ion-col size="5">
                  <ion-slides [options]="sliderOpts" >
                    <ion-slide>
                      <img src="assets/imgs/home/profile.png"/>
                    </ion-slide>
                    <ion-slide>
                      <img src="assets/imgs/home/scan.png"/>
                    </ion-slide>
                    <ion-slide>
                      <img src="assets/imgs/home/controller.png"/>
                    </ion-slide>
                  </ion-slides>
                </ion-col>
              </ion-row>
              <ion-row class="ion-hide-lg-up">
                <ion-col size="12">
                  <ion-card-header  class="center-header">
                    <ion-card-subtitle color="primary">{{ 'HOME.STEP_TWO_SUBTITLE' | translate }}</ion-card-subtitle>
                    <ion-card-title>{{ 'HOME.STEP_TWO_TITLE' | translate }}</ion-card-title>
                  </ion-card-header>
                  <ion-slides [options]="sliderOpts">
                    <ion-slide>
                      <img src="assets/imgs/home/profile.png"/>
                    </ion-slide>
                    <ion-slide>
                      <img src="assets/imgs/home/scan.png"/>
                    </ion-slide>
                    <ion-slide>
                      <img src="assets/imgs/home/controller.png"/>
                    </ion-slide>
                  </ion-slides>
                  <ion-list lines="none">
                    <ion-item>
                      <ion-icon name="qr-code" slot="start" class="ion-hide-sm-down"></ion-icon>
                      <ion-label>{{ 'HOME.STEP_TWO_DESC_ONE' | translate }}</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-icon name="language" slot="start" class="ion-hide-sm-down"></ion-icon>
                      <ion-label>{{ 'HOME.STEP_TWO_DESC_TWO' | translate }}</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-icon name="person-circle" slot="start" class="ion-hide-sm-down"></ion-icon>
                      <ion-label>{{ 'HOME.STEP_TWO_DESC_THREE' | translate }}</ion-label>
                    </ion-item>
                  </ion-list>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header class="center-header">
            <ion-card-subtitle color="primary">{{ 'HOME.STEP_THREE_SUBTITLE' | translate }}</ion-card-subtitle>
            <ion-card-title>{{ 'HOME.STEP_THREE_TITLE' | translate }}</ion-card-title>
          </ion-card-header>
          <div class="img-container">
            <img src="assets/imgs/home/start-quiz.png"/>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="button-col">
        <ion-button fill="outline" href="https://youtu.be/XRnzDvuUqXg?t=54" target="_blank">
          <ion-icon name="logo-youtube" slot="start"></ion-icon>
          {{ 'HOME.MAIN_WATCH_DEMO' | translate }}</ion-button>
      </ion-col>
      <ion-col class="button-col">
        <ion-button fill="outline" routerLink="/features" routerDirection="root">
          <ion-icon name="shapes" slot="start"></ion-icon>
          {{ 'HOME.MAIN_DISCOVER_FEATURES' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
