<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="text-col">
        <h2>Quizzes with your very own content!</h2>
          <p>With QuizPad create quizzes with your content, and play them wih whom you like! Add videos, pictures. From Business to gatherings QuizPad allows you to create presentations where people can interacte with!</p>

        <ion-item lines="none">
          <ion-icon name="logo-android" color="primary" slot="start"></ion-icon>
          <ion-label>Android</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="logo-apple" slot="start"></ion-icon>
          <ion-label>iPhone</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="desktop" slot="start"></ion-icon>
          <ion-label>Desktop</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <img src="assets/imgs/1.png"/>

        <!--<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/XRnzDvuUqXg?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>QuizPad in a few steps</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle color="primary">Step 1</ion-card-subtitle>
            <ion-card-title>Add Questions</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <img src="assets/imgs/3.png"/>
                </ion-col>
                <ion-col class="text-col">
                  <ion-item lines="none">
                    <ion-icon name="pencil-sharp" slot="start"></ion-icon>
                    <ion-label>Write question and answers</ion-label>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-icon name="images-sharp" slot="start"></ion-icon>
                    <ion-label>Add medias for mor entertainment</ion-label>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-icon name="git-compare-sharp" slot="start"></ion-icon>
                    <ion-label>Organise categories and questions</ion-label>
                  </ion-item>
                </ion-col>

              </ion-row>
            </ion-grid>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="assets/imgs/qr-code.png"/>

          <ion-card-header>
            <ion-card-subtitle>Step 2</ion-card-subtitle>
            <ion-card-title>Start Quiz</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="text-col">
                  <ion-item lines="none">
                    <ion-icon name="pencil-sharp" slot="start"></ion-icon>
                    <ion-label>Write question and answers</ion-label>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-icon name="images-sharp" slot="start"></ion-icon>
                    <ion-label>Add medias for mor entertainment</ion-label>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-icon name="git-compare-sharp" slot="start"></ion-icon>
                    <ion-label>Organise categories and questions</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Step 3</ion-card-subtitle>
            <ion-card-title>Join game</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-list class="text-col">
                    <ion-item lines="none">
                      <ion-icon name="qr-code-sharp" slot="start"></ion-icon>
                      <ion-label>Scan the QrCode</ion-label>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-icon name="text" slot="start"></ion-icon>
                      <ion-label>Choose your nickname</ion-label>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-icon name="person-circle" slot="start"></ion-icon>
                      <ion-label>Set an avatar</ion-label>
                    </ion-item>
                  </ion-list>
                </ion-col>
                <ion-col>
                  <img src="assets/imgs/5.png"/>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button>Discover more features</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
