ion-col {
  display: flex;
  flex-flow: column;

  ion-card {
    flex-grow: 1;

    display: flex;
    flex-flow: column;

  }
}

ion-card-content {
  div {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1em;

    img {
      height: 36px;
    }
  }
}
