<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md>
        <ion-card>
          <ion-item>
            <ion-icon name="logo-android" slot="start"></ion-icon>
            <ion-label>{{ 'DOWNLOAD.ANDROID_TITLE' | translate }}</ion-label>
          </ion-item>
          <ion-card-content>
            {{ 'DOWNLOAD.ANDROID_DESC' | translate }}
            <div>
              <img src="assets/imgs/playstore.png">
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md>
        <ion-card>
          <ion-item>
            <ion-icon name="logo-apple" slot="start"></ion-icon>
            <ion-label>{{ 'DOWNLOAD.IOS_TITLE' | translate }}</ion-label>
          </ion-item>
          <ion-card-content>
            {{ 'DOWNLOAD.IOS_DESC' | translate }}
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md>
        <ion-card>
          <ion-item>
            <ion-icon name="desktop" slot="start"></ion-icon>
            <ion-label>{{ 'DOWNLOAD.DESKTOP_TITLE' | translate }}</ion-label>
          </ion-item>
          <ion-card-content>
            {{ 'DOWNLOAD.DESKTOP_DESC' | translate }}
            <div>
              <ion-button fill="outline">
                {{ 'DOWNLOAD.DESKTOP_WEB' | translate }}
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
